<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>封鎖された家庭科室からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="Project N"></div>
      <div class="header__name">N・S高生徒体験用サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <div class="top-image">
      <div class="main-title__wrapper">
        <h1 class="main-title">封鎖<span class="main-title--kana">された</span><br>家庭科室<span class="main-title--kana">からの</span>脱出</h1>
        <div class="main-title main-title--shadow">封鎖<span class="main-title--kana">された</span><br>家庭科室<span class="main-title--kana">からの</span>脱出</div>
      </div>
    </div>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">
      <!-- STAGE1 ドア解錠 ここから -->
      <div id="sectionStage1" class="stage">
        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>さぁゲームを始めよう！</h2>
            <p class="text-center">仲間がテロ組織のアジトの前に辿り着いたようだ。<br>
              潜入しようとするも5色の鍵がかかっている。<br>
              また、近くには5つのボタンがある。<br>
              扉はボタンを正しい順番で押すことで全ての鍵が解除できるようだ。
            </p>
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
            <div class="youtube__container">
              <!-- YouTube貼り付け
              <div class="youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              YouTube貼り付け -->
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->
        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <div class="answer">
              <input type="number" v-model="stage101" placeholder="①" min="1" max="5"> の <input type="number" v-model="stage102" placeholder="②" min="1" max="5"> は <input type="number" v-model="stage103" placeholder="③" min="1" max="5"> である。
            </div>
            <div class="answer">
              <input type="number" v-model="stage104" placeholder="④" min="1" max="5"> することで <input type="number" v-model="stage105" placeholder="⑤" min="1" max="5"> をすることができる！
            </div>
            <p class="err-message">{{ stage1Message }}</p>
            <button v-on:click="stage1AnswerInput(stage101, stage102, stage103, stage104, stage105)">送信</button>
            <a class="link-hint" href="hint.html#stage1" target="hint">ヒントをみる ></a>　
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->
        <!-- STAGE1クリア画面　ここから -->
        <section v-if="stage1Answer" v-bind:class="{isClear:stage1Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：1  クリア！</div>
              <div class="clear-message__content">アジトの扉を開けることに成功した！</div>
              <button v-on:click="stage1NextStage" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->
      </div>
      <!-- STAGE1　ここまで -->
      <!-- STAGE2 部屋特定 ここから -->
      <div v-if="stage1clear" id="sectionStage2" class="stage">
        <!-- STAGE2問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>さぁゲームを始めよう！</h2>
            <p class="text-center">テロ予定の情報はオフィスにあるようだ。<br>
              アジト内の地図を手に入れることができたが、<br>
              車庫と倉庫の場所しかわからなかった。<br>
              事前情報により、これらのことがわかっている。
            </p>
            <!-- ul + li で情報渡せばいいんじゃない -->
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
          </div>
        </section>
        <!-- STAGE2問題セクション　ここまで -->
        <!-- STAGE2解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>キーワードを入力</h2>
            <div class="answer">
              <input class="answer__1word" type="text" v-model="stage2" placeholder="ROOM?">
            </div>
            <p class="err-message">{{ stage2Message }}</p>
            <button v-on:click="stage2AnswerInput(stage2)">送信</button>
            <img src="???" alt="謎">
            <a class="link-hint" href="hint.html#stage2" target="hint">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE2解答入力セクション　ここまで -->
        <!-- STAGE2クリア画面　ここから -->
        <section v-if="stage2Answer" v-bind:class="{isClear:stage2Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2  クリア！</div>
              <div class="clear-message__content">無事オフィスにたどり着けたようだ！<br>
                USBメモリーが机に置いてある！
              </div>
              <button v-on:click="stage2NextStage" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->
      <!-- STAGE3　ここから -->
      <div v-if="stage2Clear" id="sectionStage3" class="stage">
        <!-- STAGE3問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>家庭科室の課題とは</h2>
            <p class="text-center">オフィスにたどり着いた潜入員。<br>
              しかし、情報がはいっているUSBを手に取ったその瞬間、警報音が鳴り、ガスが流れてきた。<br>
              USBを持ったまま、急いで部屋から脱出したが、その後胸が締め付けられるような痛みを覚えた。<br>
              どうやらあのガスのせいらしい。<br>
              今にも気を失いそうなので、どうにかして解毒剤を手に入れなければならない。<br>
              そこで仲間を医務室に向かわせた。
            </p>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
            <p class="text-center">どうやら解毒薬を調合する必要がありそうだ…。</p>
          </div>
        </section>
        <!-- STAGE3問題セクション　ここまで -->
        <!-- STAGE3解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <div class="answer">
              <input type="text" v-model="stage301" placeholder="①を入力"> の <input type="text" v-model="stage302" placeholder="②を入力"> は <input type="text" v-model="stage303" placeholder="③を入力"> である。
            </div>
            <div class="answer">
              <input type="text" v-model="stage304" placeholder="④を入力"> することで <input type="text" v-model="stage305" placeholder="⑤を入力"> を <input type="text" v-model="stage306" placeholder="⑥を入力"> することができる！
            </div>
            <p class="err-message">{{ stage3Message }}</p>
            <button v-on:click="stage3AnswerInput(stage301, stage302, stage303, stage304, stage305, stage306)">送信</button>
            <a class="link-hint" href="hint.html#stage3" target="hint">ヒントをみる ></a>　
          </div>
        </section>
        <!-- STAGE3解答入力セクション　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
      <p class="text-center">主催／企画制作<br>
        SCRAP × N・S高生</p>
      <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
      <p class="text-center">produced by 学校法人角川ドワンゴ学園</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
